*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
    html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    min-height: 100vh;
}
.menu__nav{
    display: flex;
    justify-content: space-around;
    color: steelblue;
    background-color: aliceblue;
    padding: 1.5rem;
    border-radius:0 0 10px 10px;
}
ul a{
    text-decoration: none;
    color:steelblue;
    font-size: 1.2rem;
}
.container{
    min-height:90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    background-color: midnightblue;
    color: aliceblue;
}
.text__container{
    background-color: rgb(12, 12, 12);
    padding: 1rem;
    margin-bottom:1.5rem;
}
.Color__span{
    color: steelblue;
}
button{
    position: absolute;
    display: block;
    top: 28rem;
    padding: 1rem;
    background-color: steelblue;
    color: rgba(0, 0, 0, 0.667);
    font-weight: 900;
    border: 3px solid black;
    border-radius: 0.5rem;
    width: 200px;
}
section button:hover{
    background-color:rgba(70, 131, 180, 0.126);
    color: aliceblue;
}
